@import "tailwindcss";

:root {
  --background: linear-gradient(
    135deg,
    #f8fafc 0%,
    #ffffff 50%,
    #f1f5f9 100%
  );
  --foreground: #4a596e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      135deg,
      #806a6a 0%,
      #6e4545 50%,
      #293037 100%
    );
    --foreground: #e2e8f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
