@import "tailwindcss";

:root {
  --background: linear-gradient(
    135deg,
    #f8fafc 0%,
    #ffffff 50%,
    #f1f5f9 100%
  );
  --foreground: #4a596e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(
      ellipse at center,
      #6b4f4f 0%,
      #523737 45%,
      #2b2323 100%
);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
